'global':
  'script':
    'escapeConsoleOutput': true
    'enableExecTime': false
  'exception-reporting':
    'userId': '5090042f-7fbf-6f18-38a5-ff452bf335be'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '764648fb67f080931e23b7adbf16bbdfa398b0d6'
  'editor':
    'fontFamily': 'Menlo'
    'showInvisibles': true
    'invisibles':
      'tab': '→'
      'eol': '⤾'
    'showIndentGuide': true
    'zoomFontWhenCtrlScrolling': true
    'useShadowDOM': true
  'core':
    'PATH': '/Users/ecarey/.rbenv/shims:/Users/ecarey/.rbenv/bin:/Users/ecarey/.rbenv/shims:set:PATH:/Users/ecarey/bin:/Users/ecarey/.rbenv/bin:/Users/ecarey/bin/packer:/usr/local/bin:/usr/X11/bin:/usr/local/heroku/bin:/usr/local/share/npm/bin:/Applications/Postgres.app/Contents/MacOS/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/X11/bin'
    'projectHome': '/Users/ecarey/repositories'
    'ignoredNames': [
      '.git'
      '.hg'
      '.idea'
      'target'
      'vendor'
      'node_modules'
      'target'
      'out'
      '.repository'
      '_DEBUG'
      '.grunt'
      'doc'
    ]
    'destroyEmptyPanes': false
    'disabledPackages': [
      'relative-numbers'
    ]
  'fuzzy-finder':
    'ignoredNames': [
      '.git'
      '.hg'
      '.idea'
    ]
  'relative-numbers':
    'displayTrueLineNumberOnCurrentLine': true
  'autocomplete':
    'includeCompletionsFromAllBuffers': true
  'autocomplete-plus':
    'includeCompletionsFromAllBuffers': true
  'autoclose-html':
    'additionalGrammars': '*'
  'merge-conflicts':
    'gitPath': '/usr/bin/git'
  'linter':
    'lintOnChangeInterval': 5000
  'tree-view':
    'hideIgnoredNames': true
'.js.regexp.source':
  'editor': {}
'.js.source':
  'editor': {}
