'editor':
  'fontFamily': 'Menlo'
  'showIndentGuide': true
  'fontSize': 13
'core':
  'CONTROLS_API_ENDPOINT': 'https://test-system.dev:3780/insight/controls/api/'
  'CONTROLS_WEB_ENDPOINT': 'https://test-system.dev:3780/insight/controls/'
  'CONTROLS_HOSTNAME': 'test-system.dev'
  'CONTROLS_USERNAME': ''
  'CONTROLS_PASSWORD': ''
  'PATH': '/Users/ecarey/.rbenv/shims:/usr/local/share/npm/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin'
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
  'audioBeep': false
  'disabledPackages': [
    'autocomplete-plus'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    '.hg'
    'target'
    'tmp'
  ]
  'projectHome': '/Users/ecarey/repositories'
'exception-reporting':
  'userId': '42e5dfa4-c781-2acb-f743-bb312bfef836'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '764648fb67f080931e23b7adbf16bbdfa398b0d6'
'autocomplete-plus':
  'includeCompletionsFromAllBuffers': true
  'fileBlacklist': '.*, *.md, *.json'
  'enableAutoActivation': false
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
'achievements':
  'NoticeDelay': 2500
'tree-view':
  'hideIgnoredNames': true
'project-manager':
  'showPath': true
